{% extends 'base.html' %}

{% block content %}




{% if user.is_authenticated %}

{% if user.is_staff %}

<table class="table table-hover table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Blood Group</th>
            <th scope="col">ID</th>
        </tr>
    </thead>
    <tbody>
        {% if records %}
        {% for record in records %}
        <tr>
            <td>{{ record.first_name }}
                {{ record.last_name }}</td>
            <td>{{ record.dob }}</td>
            <td>{{ record.gender }}</td>
            <td>{{ record.age }}</td>
            <td>{{ record.address }}</td>
            <td>{{ record.phone }}</td>
            <td>{{ record.blood_group }}</td>
            <td>{{ record.id }}</td>
        </tr>
        {% endfor %}

        {% endif %}

    </tbody>
</table>

{% else %}

<h1>Hello</h1>

{% endif%}



{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br>

<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <br>
    <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <br>
    <button type="submit" class="btn btn-secondary">Login</button>

</form>
</div>


{% endif %}

{% endblock %}